{% extends 'base.html' %}

{% block title %}Главное меню{% endblock %}

{% block header %}
        <div class="logo-container">
            <img src="{% block logo %}https://i.ibb.co/FXFR9nZ/image.png{% endblock %}" alt="logo">
        </div>
{% endblock %}

{% block content %}
<div>
    <h1>Выберите категорию:</h1>
    {% for button in buttons %}
        <a href="{% url 'kmbsubmenu' button.id %}" class="btn">{{ button.title }}</a>
    {% endfor %}
</div>
<a href="{% url 'gamemenu' %}" class="btn">Подтверди свои знания</a>
<a href="{% url 'home' %}" class="btn">Назад в меню приложения</a>
{% endblock %}
