<!-- home.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>Меню приложения</h1>
  <div class="menu">
    <button onclick="window.location.href='{% url 'rules' %}'">Правила</button>
    <button onclick="window.location.href='{% url 'gamemenu' %}'">Играть</button>
    <button onclick="window.location.href='{% url 'kmb' %}'">Курс молодого бойца</button>
    <button onclick="window.location.href='{% url 'chat_page' %}'">КИТ.Ментор: Склад</button>
    <button onclick="window.location.href='{% url 'logout' %}'">Выйти из игры</button>
  </div>
</div>
{% endblock %}
