<!-- rules.html -->
{% extends 'base.html' %}

{% block subtext %}
    <div class="subtext">Перед использованием ознакомьтесь с инструкцией</div>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Инструкция к приложению</h1>
        <p style="text-align: left; margin-bottom: 20px;">1. Кнопка "Играть" позволяет выбрать один из двух режимов игры: <br> <br>
            "Ежемесячное тестирование" - тест который доступен 1 раз в месяц. На выполнение теста дается только 1 попытка после которой Вы увидите результат. <br> <br>
            Посмотреть где именно были допущены ошибки можно будет после того, как все сотрудники Вашего Дивизиона пройдут тест. <br> <br>
            "Тренировка знаний" - данный режим содержит большой набор вопросов, для проверки Ваших знаний.<br> <br>
            После того как Вы допустите в тренировке ошибку, тест начнется заново. Вопросы показываются в случайном порядке. Система зафиксирует Ваш лучший результат. <br> <br>
            "Результаты" - становится активна только после прохождения ежемесячного тестирования всеми сотрудниками Дивизиона. Позволяет посмотреть подробные результаты. <br> <br>
            2. "Курс молодого бойца" - находится в разработке. <br> <br>
            3. "КИТ. Ментор: Склад" - находятся в разработке.</p>
        <button onclick="window.location.href='{% url 'home' %}'">Вернуться в меню</button>
    </div>
{% endblock %}
